<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign in</title>


    <link href="./css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link href="./css/login.css" th:href="@{css/login.css}" rel="stylesheet" type="text/css"/>

</head>

<body class="text-center">
<form action="doLogin" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <fieldset>


        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" class="form-control" placeholder="User Name" name='username' type="text">

        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" class="form-control" placeholder="Password" name='password' type="password"
                   value="">

        </div>

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">

    </fieldset>

</form>
</body>

<body class="text-center">


</body>
</html>



