<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign up</title>


    <link href="./css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link href="./css/signup.css" th:href="@{css/signup.css}" rel="stylesheet" type="text/css"/>

</head>
<body class="bg-light">
<div class="container">

    <div class="row">

        <div class="col-md-8 order-md-1">

            <div class="py-5 text-center">
                <h2>Sign up</h2>
                <p class="lead">Enter the required data in to the form and click on Sign up button to create an account
                    in the Library system</p>
            </div>

            <form th:action="@{/signup}" th:object="${signUpForm}" method="post" novalidate>

                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" th:field="*{username}" placeholder="username"
                           required autofocus>
                    <div class="alert alert-danger mt-3" role="alert" th:if="${#fields.hasErrors('username')}"
                         th:errors="*{username}">Please enter a valid username
                    </div>
                </div>


                <div class="mb-3">

                    <label for="password">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" id="password"
                           placeholder="password" required>
                    <div class="alert alert-danger mt-3" role="alert" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}">Please enter secure password
                    </div>
                </div>

                <div class="mb-3">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" class="form-control" th:field="*{confirmPassword}" id="confirmPassword"
                           placeholder="password" required>
                    <div class="alert alert-danger mt-3" role="alert" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{confirmPassword}">Please confirm the password
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">Sign up</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2019 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>
</body>
</html>



